html {
  font-family: "Rubik";
}
body {
  margin: 0;
  overflow: hidden;
}
h1 {
  font-size: 2rem;
  text-align: center;
  color: white;
  display: block;
}
button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  display: inline;
  margin-bottom: 9rem;
}
.ipInput {
  /* padding-left: 20px; */
  font-size: 18px;
  width: 340px;
  height: 52px;
  border: none;
  border-radius: 1rem 0 0 1rem;
}
.button {
  background-color: black;
  width: 40px;
  height: 54px;
  border: 0;
  border-radius: 0 1rem 1rem 0;
}
button:active {
  background-color: rgb(26, 26, 26);
}
.mapContainer {
  height: 1000px;
}
#mapid {
  height: 100%;
  z-index: 1;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
label {
  padding: 10px;
  font-size: 10px;
  text-transform: uppercase;
  color: hsl(0, 0%, 59%);
  font-weight: 500;
}
span {
  color: hsl(0, 0%, 17%);
  font-size: 17px;
  font-weight: 600;
}
#isp{
  margin-bottom: 1rem;
}
header {
  position: fixed;
  width: 100%;
  height: 250px;
  background-image: url(pattern-bg.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}
.inputForm {
  display: flex;
  justify-content: center;
  width: 90%;
}
.infoContainer {
  position: fixed;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  background-color: white;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.infoContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 481px) {
  button,
  input {
    margin-bottom: 3rem;
  }
  .infoContainer {
    height: 125px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
  }
  span {
    width: 100%;
    text-align: center;
  }
  .infoContainer div {
    border-right: 1px solid gray;
  }
  #lastOne {
    border: none;
  }
}

@media (min-width: 850px) {
  .infoContainer {
    width: 770px;
  }
  .inputForm {
    width: 385px;
  }
}
